@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

:root {
  --cor-background-primaria: #ffffff;
  --cor-background-secundaria: #8c8c8c;
  --cor-background-terciaria: #000000;

  --cor-botao-primaria: #b81515;
  --cor-botao-secundaria: #8f0101;

  --cor-fonte-primaria: #222222;
  --cor-fonte-secundaria: #ffffff;

  --fonte-projeto: "Montserrat", sans-serif;

  --peso-fonte-texto: 400;
  --peso-fonte-menu: 500;
  --peso-fonte-titulo: 700;
}

body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fonte-projeto);
  color: var(--cor-fonte-primaria);
}

.cabecalho-secao-titulo {
  margin: 0;
  font-size: 1.75rem;
  font-weight: var(--peso-fonte-titulo);
  text-align: center;
}

.cabecalho-secao-traco {
  width: 180px;
  height: 4px;
  background-color: var(--cor-botao-primaria);
  border: none;
  margin: 16px auto 32px;
}

.botao {
  font-size: 1.25rem;
  font-weight: var(--peso-fonte-titulo);
  text-decoration: none;
  color: var(--cor-fonte-secundaria);
  background-color: var(--cor-botao-secundaria);
  border-radius: 8px;
  width: 280px;
  height: 64px;
  line-height: 64px;
}

@media screen and (min-width: 1024px) {
  .cabecalho-secao-titulo {
    font-size: 2rem;
  }

  .botao:hover {
    background-color: var(--cor-botao-primaria);
  }
}
