.cabecalho {
  background-color: var(--cor-background-terciaria);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 37px 48px;
}

.cabecalho-logo {
  display: inline-block;
  height: 68px;
  width: 64px;
}

.cabecalho--menu-hamburguer-navegacao {
  display: none;
}
