.cabecalho {
  background-color: var(--cor-background-terciaria);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 37px 48px;
  position: relative;
}

.cabecalho-logo {
  display: inline-block;
  height: 68px;
  width: 64px;
}

.cabecalho-logo-mobile {
  display: block;
}

.cabecalho-logo-desktop {
  display: none;
}

.cabecalho-menu-hamburguer {
  margin-top: 24px;
}

.cabecalho--menu-hamburguer-navegacao {
  display: none;
}

#menu-hamburguer:checked ~ nav {
  display: block;
  position: absolute;
  top: 99%;
  left: 0;
  width: 100%;
  background-color: var(--cor-background-terciaria);
}

.cabecalho-menu-hamburguer-navegacao-itens {
  list-style: none;
}

.cabecalho-menu-hamburguer-navegacao-itens li {
  margin: 16px 0;
  font-size: 1.5rem;
  font-weight: var(--peso-fonte-menu);
}

.cabecalho-menu-hamburguer-navegacao-itens li a {
  color: var(--cor-fonte-secundaria);
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .cabecalho {
    padding: 37px 60px;
  }

  .cabecalho-menu-hamburguer-imagem {
    display: none;
  }

  .cabecalho-menu-hamburguer {
    margin-top: 0;
  }

  .cabecalho--menu-hamburguer-navegacao {
    display: block;
  }

  .cabecalho-menu-hamburguer-navegacao-itens {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 467px;
  }

  .cabecalho-menu-hamburguer-navegacao-itens li {
    margin: 0;
  }

  .cabecalho-menu-hamburguer-navegacao-itens li a:hover {
    color: var(--cor-botao-secundaria);
  }

  @media screen and (min-width: 1024px) {
    .cabecalho {
      padding: 37px 120px;
    }

    .cabecalho-logo {
      width: 260px;
    }

    .cabecalho-logo-mobile {
      display: none;
    }

    .cabecalho-logo-desktop {
      display: block;
    }
  }

  @media screen and (min-width: 1920px) {
    .cabecalho {
      padding: 37px 160px;
    }
  }
}
