.hero-img {
  background: url(../img/hero-img.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
}

@media screen and (min-width: 768px) {
  .hero-img {
    background: url(../img/hero-img-tablet.jpg) no-repeat;
    background-size: cover;
    height: 620px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    background: url(../img/hero-img-desktop.jpg) no-repeat;
    background-size: cover;
  }
}
